# Intermediate SQL with SQLite in Python

In this lesson, we will work with the **Sakila** databaseâ€”a sample database originally created by MySQL and ported to SQLite. The Sakila database contains a rich schema (including tables such as `actor`, `film`, `film_actor`, etc.) that provides real-world data to explore advanced SQL techniques.

### What You'll Learn:
- How to connect to a SQLite database file (`sakila.db`) using Python's `sqlite3` module.
- How to explore the Sakila database schema by listing tables and previewing data.
- How to write SQL queries using JOINs, aggregate functions, GROUP BY, and HAVING.
- How to apply these techniques with partner practice exercises.

**Note:** Ensure the `sakila.db` file is in your working directory before running the notebook.

In [2]:
import sqlite3
import pandas as pd

# Set the path to the SQLite database
db_path = "sakila.db"

# Connect to SQLite database
conn = sqlite3.connect(db_path)
print("Connected to SQLite Sakila database!")

Connected to SQLite Sakila database!

### Exploring the Database Schema

Before diving into queries, it's useful to know which tables are available in the Sakila database. We'll list all tables by querying the SQLite master table.

In [3]:
# List all tables in the database
tables = pd.read_sql("""SELECT name 
                        FROM sqlite_master 
                        WHERE type='table';""", conn)

print("Tables in the database:")
print(tables)

Tables in the database:
Empty DataFrame
Columns: [name]
Index: []

### Viewing Sample Data from the 'actor' Table

Let's preview a few rows from the `actor` table to see what kind of data it holds.

Select the following columns:
- actor_id
- first_name
- last_name

Connect two string columns with || ' ' || and create an alias with "AS"

In [7]:
# Define SQL query to fetch the first 5 rows from the actor table.
query_actor = """SELECT actor_id, first_name || ' ' || last_name AS actor_full_name
                 FROM actor 
                 LIMIT 5;"""

# Execute the query using pd.read_sql.
df_actor = pd.read_sql(query_actor, conn)

print("Sample rows from the 'actor' table:")
print(df_actor)

DatabaseError: Execution failed on sql 'SELECT actor_id, first_name || ' ' || last_name AS actor_full_name
                 FROM actor
                 LIMIT 5;': no such table: actor

### Viewing Sample Data from the 'film' Table

Let's preview a few rows from the `film` table to see what kind of data it holds.

Select the following columns:
- film_id
- title
- length
- rating

In [ ]:
# Define SQL query to fetch the first 5 rows from the actor table.
query_film = """

             """

# Execute the query using pd.read_sql.
df_film = pd.read_sql(query_film, conn)

print("Sample rows from the 'film' table:")
print(df_film)

### Viewing Sample Data from the 'film_actor' Table

Let's preview a few rows from the `film_actor` table to see what kind of data it holds.

Select all columns.

In [ ]:
# Define SQL query to fetch the first 5 rows from the actor table.
query_film_actor = """

                   """

# Execute the query using pd.read_sql.
df_film_actor = pd.read_sql(query_film_actor, conn)

print("Sample rows from the 'film' table:")
print(df_film_actor)

### JOIN Query: Actors and Their Films

Next, we'll join three tablesâ€”`actor`, `film_actor`, and `film`â€”to list film titles along with the full names of actors who appear in them.

- **Tables Involved:**
  - `actor`: Contains actor details.
  - `film_actor`: A bridge table linking actors to films.
  - `film`: Contains film details.

The join connects:
- `actor.actor_id` with `film_actor.actor_id`
- `film_actor.film_id` with `film.film_id`

Let's see the first 10 actor-film associations.

In [ ]:
# Define SQL query for actor-film associations.
join_query = """

             """

# Execute the query using pd.read_sql.
df_join = pd.read_sql(join_query, conn)

print("Actor - Film Associations (first 10 rows):")
print(df_join)

### Aggregation Query: Counting Actors per Film

Now, we'll count the number of actors featured in each film. This query uses:
- **JOIN:** To connect `film` and `film_actor`.
- **GROUP BY:** To group data by film title.
- **HAVING:** To filter films with more than 3 actors.

This helps identify films with larger casts.

In [ ]:
# Define SQL query for counting actors per film.
agg_query = """

            """

# Execute the query using pd.read_sql.
df_agg = pd.read_sql(agg_query, conn)

print("Films with more than 3 actors (top 10):")
print(df_agg)

# Group Exercises
- Find a neighbor, yes, move around and make a new friend!
- Work through the following practice exercises together.

# Partner Practice Exercise

Now that we've seen several examples of JOINs and aggregation queries, it's time for you to practice with a partner. Complete the following tasks using the Sakila database:

1. **Task 1: Write a JOIN Query**
   - Write a query to retrieve a list of films along with the full names of the actors (first and last name) who acted in them.
   - *Hint:* Join the `film`, `film_actor`, and `actor` tables. Use string concatenation (e.g., `first_name || ' ' || last_name`) for full names.

2. **Task 2: Write an Aggregation Query**
   - Write a query to find the average film length for each film category.
   - *Hint:* Join the `film`, `film_category`, and `category` tables, then use the `AVG()` function with `GROUP BY`.

3. **Task 3: Challenge Task (Optional)**
   - Combine your results: Write a query to list film titles, the count of actors in each film, and the film category. Filter to show only films with more than 5 actors.
   - *Hint:* You might need to use multiple joins and group by both film title and category.

Discuss your approaches with your partner, compare your results, and be ready to review a few solutions as a class.

In [ ]:
# Task 1: Retrieve a list of films along with the full names of the actors.
task1_query = """

              """

# Execute the query using pd.read_sql.
df_task1 = pd.read_sql(task1_query, conn)

print("Task 1: Films with Actor Full Names (first 20 rows):")
print(df_task1)

In [ ]:
# Task 2: Find the average film length for each film category.
task2_query = """

              """

# Execute the query using pd.read_sql.
df_task2 = pd.read_sql(task2_query, conn)

print("Task 2: Average Film Length per Category:")
print(df_task2)

In [ ]:
# Task 3: List film titles, count of actors, and film category for films with more than 5 actors.
task3_query = """

            """

# Execute the query using pd.read_sql.
df_task3 = pd.read_sql(task3_query, conn)

print("Task 3: Films with more than 5 Actors (showing film title, actor count, category):")
print(df_task3)

## Close the connection to the database.
Always close the connection when you're done to free up resources.

In [24]:
# Close the connection
#conn.close()